html,body{margin:0;padding:0}

main {
	background-image: url("assets/body-background.png");
	height: 90%;
}

header {
	padding-top: 1px;

	background-image: url("assets/header-background.png");
	
	height: 10%;
	text-align: center;
	
	box-shadow: inset 0 -2px 2px #e8e8e8;
}


#distance {
	background-color: #e0e0e0;
	border: #e0e0e0 solid .5px;
	
	width: auto;
	float: left;
	
	color: a8a8a8;
	
	text-align: center;
	opacity: .6;
}

#distance:hover {
	border-color: #b6b6b6;
	opacity: 1;
}

h1 {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: calc(1.5vw);
	color: white;
}

h3 {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: calc(1vw);
	
	color: white;
}

#visualArea {
	height: 100%;
}

#sidebar {
	position: fixed;
}

.button:hover {
	border-color: #b6b6b6;
	opacity: 1;

}

.button {
	background-color: #e0e0e0;
	border: #e0e0e0 solid .5px;
	
	width: 75;
	height: 95;
	
	color: a8a8a8;
	
	text-align: center;
	opacity: .2;
}

.button.selected {
	opacity: 1;
}

.button i {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -10%);
}

.button .text {
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	position: relative;
	top: 70%;
	font-size: calc(.8vw);
	
}

.selected {
	color: #e0e0e0;
	border-color: #b6b6b6;
	background-color: #b3b3b3;

}

.selected:hover {
	border-color: #e0e0e0;
}

.point {
	width: 5px;
	height: 5px;
	
	background: #a0a0a0;
}

.point:hover, point selected {
	background: #808080
}